%btn {
  border: none;
  background: none;
  display: grid;
  place-content: center;
  cursor: pointer;
}

%btn-flex {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}