@use "../abstracts/" as *;

.sidebar {
  background-color: $bg-dark;
  height: 100vh;
  width: clamp(20rem, 25vw, 30rem);
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $neutral-800;

    .logo {
      color: $neutral-100;
      font-weight: $fw-700;
      letter-spacing: 5px;
    }

    .btn-toggle-sidebar {
      @extend %btn-center;
      width: 3rem;
      height: 3rem;
      background: url($icon-left);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  nav {
    animation: fadeIn 1s;
    a {
      color: $neutral-400;
      font-size: $fs-500;
    }

    ul {
      display: grid;
      gap: 1.5rem;
    }

    li {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  > div:last-of-type {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;

    .copyright {
      animation: fadeIn 10s;
      display: flex;
      flex-wrap: wrap;
    }
  }

  a {
    @include hover-underline();
    @include focus($neutral-700);
  }

  &.hidden {
    width: 7rem;

    > div:first-of-type {
      .btn-toggle-sidebar {
        @extend %btn;
        width: 3rem;
        height: 3rem;
        background: url($icon-right);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    nav {
      display: none;
    }

    .logo {
      display: none;
    }

    > div:last-of-type {
      display: none;
    }
  }

  @media print {
    display: none;
  }
}
