@use "../abstracts/" as *;

.tasks-view {
  height: 100%;
  display: grid;
  place-content: center;
  background-image: url("./../assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media print {
    background: none;
  }
}


