@use "../abstracts/" as *;

.tasks-view {
  height: 100%;
  display: grid;
  gap: 3rem;
  place-content: center;
  background-image: url("./../assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media print {
    background: none;
  }

  &[data-show-taskdetails="true"]{
    .task-add,
    .task-list {
      display: none;
    }
    .task-details {
      display: grid;
    }
  }
}


